<h2>Show Image</h2>

<ul>

  <li>
    <strong>Url:</strong>
    <%= @image.url %>
  </li>

</ul>

<span><%= link "Edit", to: image_path(@conn, :edit, @image) %></span>
<span><%= link "Back", to: image_path(@conn, :index) %></span>
