<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>BilaMarkt</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container">
      <header class="header">
        <nav role="navigation">
          <ul class="nav nav-pills pull-right">
            <li><%= link "Home", to: "/" %></li>
              <li><%= link "Products", to: product_path(@conn, :index)%></li>
            <%= if @current_user do %>
              <li><%= link "Items", to: item_path(@conn, :index)%></li>
              <li><%= link "Images", to: image_path(@conn, :index)%></li>
              <li><%= link "Logout", to: session_path(@conn, :logout), method: :post%></li>
            <% else %>
              <li><%= link "Login", to: session_path(@conn, :create)%></li>
            <% end %>
          </ul>
        </nav>
        <span class="logo"></span>
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main" class="main-container" >
        <%= render @view_module, @view_template, assigns %>
      </main>

      <footer class="footer">
          <p class="footer-text">If you liked anything, contact me through <a href="mailto:victor.presumido@gmail.com">victor.presumido@gmail.com</a> or
            <a href="https://telegram.me/victorpre">@victorpre</a>.
          </p>
      </footer>
    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
