<div class="jumbotron">
  <h2><%= gettext "Welcome to %{name}!", name: "BilaMarkt" %></h2>
  <p class="lead">A place you can buy cool stuff, help a friend a out,<br />for a cheap and fair price.</p>
  <p><%=link "Gimme the muambas", to: product_path(@conn, :index), class: "btn btn-primary btn-lg" %></p>
</div>

<div class="row">
  <div class="col-lg-12">
    <%= img_tag "http://i0.kym-cdn.com/photos/images/original/000/264/241/9e9.gif", class: "img-responsive center-block" %>
  </div>
</div>
